/node_modules
/frontend/build
/frontend/dist  
/backend/node_modules
/backend/dist   
/backend/build
/backend/.env
/backend/.env.local
/backend/.env.development
/backend/.env.test
/backend/.env.production
/backend/logs
/backend/*.log  
/backend/*.out
/backend/.DS_Store  
/backend/.vscode
/backend/.idea
/backend/*.swp

